useDynLib(mmap)

# user functions
export(
       mmap,
       munmap,
       msync,
       mprotect,
       
       mmapFlags,

       is.mmap,

       classFUN,
       "classFUN<-"
      )

# S3 methods
S3method('[',mmap)
S3method('[<-',mmap)
S3method(classFUN,mmap)
S3method('classFUN<-',mmap)
S3method(close,mmap)
S3method(str,mmap)
S3method(print,mmap)
S3method(head,mmap)
S3method(tail,mmap)
